@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(203,152,237);
    background: radial-gradient(circle, rgba(203,152,237,1) -20%, rgba(29, 43, 100, 1)100%);
    border-image: fill 0 linear-gradient( rgba(60, 33, 183, 0.02) 60% ,#042440 120%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25rem;
    height: 22rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    color: #fff;
}

.img-box {
    width: 10rem;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 1rem .1rem #fff,
        0 0 2rem .1rem #fff;
}
    @keyframes bounce {
        0%, 100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }



:is(.profile-img, .half-drawing-img, .full-drawing-img ){
    width: 10rem;
    height: 10rem;
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid #fff;
}

.profile-img {
    filter: grayscale(30%);
    animation: profileImg 3s infinite ease-in-out;
}

    @keyframes profileImg {
        0% {
            z-index: 1;
        }
        25% {
            z-index: 1;
        }
        50%{
            z-index: 1;
        }
        75% {
            z-index: 0;
        }
        80% {
            z-index: 0;
        }
    }

.half-drawing-img {
    animation: halfImg 3s infinite ease-in-out;
}

    @keyframes halfImg {
        0% {
            z-index: 0;
        }
        25% {
            z-index: 0;
        }
        50%{
            z-index: 1;
        }
        75% {
            z-index: 0;
        }
        100% {
            z-index: 0;
        }
    }
       

.full-drawing-img {
    animation: fullImg 3s infinite ease-in-out;
}

    @keyframes fullImg {
        0% {
            z-index: 0;
        }
        25% {
            z-index: 0;
        }
        50%{
            z-index: 0;
        }
        75% {
            z-index: 1;
        }
        100% {
            z-index: 1;
        }
    }

button {
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    color: #fff;
    border: 0 solid;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 0.8rem rgba(255, 255, 255, 0);
    outline: 0.08rem solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0rem;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;

}

button:hover {
    border: 0.05rem solid;
    box-shadow: inset 0 0 0.8rem rgba(255, 255, 255, .5), 0 0 0.8rem rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 1rem;
    text-shadow: 0.05rem 0.05rem 0.8rem #fff; 
    
}

/* from: https://uiverse.io/cohencoo/ordinary-kangaroo-82 */
.loader {
    display: none;
    width: 8rem;
    height: 1rem;
    border-radius: 20px;
    color: #fff;
    border: 0.1rem solid;
    position: relative;
    filter: drop-shadow(0.05rem 0.05rem 0.3rem rgba(255,255,255, 0.9));
  }
  
  .loader::before {
    content: "";
    position: absolute;
    margin: 0.1rem;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #fff;
    animation: p6 2s infinite;
    filter: drop-shadow(0.05rem 0.05rem 0.2rem rgba(255,255,255, 0.9));
  }
  
  @keyframes p6 {
    100% {
      inset: 0
    }
  }
